.profile {
  background: #333;
  // .profile__body
  &__body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  // .profile__block
  &__block {
    display: grid;
    justify-items: center;
    row-gap: 30px;
  }
  // .profile__image
  &__image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #fff;
    position: relative;
    overflow: hidden;
    img {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  // .profile__input
  &__input {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
  }
  // .profile__username
  &__username {
    color: #000;
    height: 40px;
    padding: 0px 20px;
    border-radius: 10px;
  }
}
