.chat {
  background: #333;
  padding: 100px 50px 50px;

  // .chat__body
  &__body {
  }
  // .chat__profile
  &__profile {
    display: none;
    // TODO: PROFILE
  }
  // .chat__messages
  &__messages {
    padding: 0px 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    overflow-y: scroll;
    height: calc(100vh - 250px);
    position: relative;
    scrollbar-color: rgb(255, 60, 93) orange;
    scrollbar-width: auto;
    &::-webkit-scrollbar {
      width: 20px;
      background: orange;
      border-radius: 50px;
    }
    &::-webkit-scrollbar-thumb {
      background: rgb(255, 60, 93);
      border-radius: 50px;
    }
    li {
      padding: 10px;
      background: rgb(100, 100, 228);
      border-radius: 10px;
      font-size: 20px;
      &:not(:last-child) {
        margin: 0px 0px 10px 0px;
      }
      &._active {
        background: rebeccapurple;
        align-self: flex-start;
      }
    }
  }
  // .chat__form
  &__form {
    margin: 50px 0px 0px 0px;
    display: grid;
    grid-template: auto / 8fr 2fr;
    column-gap: 30px;
  }
  // .chat__input
  &__input {
  }
  // .chat__button
  &__button {
  }
}
