.chat {
  background: #333;
  padding: 120px 50px 50px;
  position: relative;
  // .chat__body
  &__body {
  }
  // .chat__messages
  &__messages {
    padding: 0px 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    overflow-y: scroll;
    height: calc(100vh - 270px);
    position: relative;
    scrollbar-color: rgb(255, 60, 93) orange;
    scrollbar-width: auto;
    &::-webkit-scrollbar {
      width: 20px;
      background: orange;
      border-radius: 50px;
    }
    &::-webkit-scrollbar-thumb {
      background: rgb(255, 60, 93);
      border-radius: 50px;
    }
    li {
      display: flex;
      align-items: center;
      &:not(:last-child) {
        margin: 0px 0px 10px 0px;
      }
      &._active {
        align-self: flex-start;
        span {
          background: rebeccapurple;
        }
      }
      img {
        max-width: 50px;
        border-radius: 50%;
        margin: 0px 20px 0px 0px;
      }
      span {
        padding: 10px;
        background: rgb(100, 100, 228);
        border-radius: 10px;
        font-size: 20px;
      }
    }
  }
  // .chat__form
  &__form {
    margin: 50px 0px 0px 0px;
    display: grid;
    grid-template: auto / 8fr 2fr;
    column-gap: 30px;
  }
  // .chat__input
  &__input {
  }
  // .chat__button
  &__button {
  }
}
